body{
    background-color: aqua;
}
img{
    border: 4px solid black;
}

p{
   line-height: 49px;
   font-size:x-large;

}
nav{
    color:blue;
    word-spacing: 50px;
    background-color:yellow;
    line-height: 30px;
}
