body{
    background-color: coral;
}
.container{
   background-color: chartreuse;
}
.col-sm-7{
    border: 4px solid black;
}
.col-sm-8{
    border: 6px solid red;
    font-size: xx-small;
}
.col-sm-4{
    border: 6px solid red;
    
}